# ===========================================================
# Requirements for ASRBANK
# Date: 7/sep/2023
#
# Python version this works for: 3.10 / Ubuntu 24.04
#
# For a better overview of dependencies: install pipdeptree
# ===========================================================

django==4.1
django-nested-admin
lxml
openpyxl
urllib3

uwsgi ; sys_platform != 'win32'
